@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif
}

body {
    background-color: #black;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #333
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px
}

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px
}

.centered {
    text-align: center
}

a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in
}

a:focus,
a:hover {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0
}

a:after,
a:before {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

.navbar {
    text-transform: uppercase;
    margin-bottom: 0
}

.navbar-inverse {
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: #000;
    border-color: #16a085
}

#footer,
.pt {
    padding-top: 50px;
    padding-bottom: 50px
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #222
}

#footer h4,
#footer p,
.navbar-inverse .navbar-brand {
    color: #fff
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px
}

ba,
bd {
    font-size: 12px;
    text-transform: uppercase
}

.navbar-inverse .navbar-toggle {
    border-color: transparent
}

.progress-bar-theme {
    background-color: #1abc9c
}

#grey,
#ww {
    background-color: #f2f2f2
}

.mt {
    margin-top: 40px;
    margin-bottom: 40px
}

#grey,
#white {
    padding-top: 60px;
    padding-bottom: 60px
}

#ww {
    padding-top: 70px;
    padding-bottom: 70px
}

#footer {
    background-color: #2f2f2f
}

#footer h4 {
    text-transform: uppercase;
    padding-bottom: 20px
}

#white {
    background-color: #fff
}

bd {
    color: #d2d2d2;
    font-weight: 700
}

.bq {
    font-size: 22px;
    padding-top: 30px
}

bt {
    font-size: 12px
}
